{% extends "layout.html" %}
{% import "makro.html" as macros %}


{% block content %}
{% set DataSkills = load_data(path="data/skills.json") %}
{% set DataProjects = load_data(path="data/projects.json") %}
{% set DataSocialNetworks = load_data(path="data/social-networks.json") %}

<div class="d-flex align-items-center logo-header-container">
    <div class="p-0 m-0 logo-wrapper">
        <img src="/favicon.svg" class="mb-3 responsive-logo" alt="Favicon">
    </div>
    <div class="p-0 m-0 ms-3 text-wrapper">
        <h1><span>Selector</span> <span>0073</span></h1>
        <h2>Fullstack web developer</h2>
    </div>
</div>

<h2 class="tab" id="SkillsScroll">Skills</h2>

<div class="skills-wrapper">
    {% for group in DataSkills.skills %}
        <div class="skill-box">
            <h3>{{ group.category }}</h3>
            <div class="container-fluid text-start">
                <div class="d-flex flex-wrap gap-3">
                    {% for skill in group.items %}
                        <div class="skill-capsule">
                            <img src="{{ skill.logo }}" class="skill-logo" alt="{{ skill.name }}">
                            <span class="skill-name">{{ skill.name }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<h2 class="tab" id="ProjectsScroll">Projects</h2>
<h2 class="tab" id="QaAScroll">Q&A</h2>
<h2 class="tab" id="ContactScroll">Contact</h2>

{% endblock content %}